@page "/"
@inject HtmxCounter.HtmxCounterState CounterState

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div class="mb-4">
    <HtmxCounter State="CounterState"/>
</div>

<div>
    <button class="btn btn-primary"
            hx-swap="outerHTML"
            hx-get="/love-htmx">
        Click Me For Blazor + HTMX
    </button>
</div>

@code {
    protected override void OnInitialized()
    {
        // reset counter on page reloads
        CounterState.Value = 0;
    }
}